@import "src/styles/variables";

app-submit-button {
  display: block;
  text-align: right;
  button {
    background: $colour_orange-button_background;
    border: 1px solid $colour_orange-button_border;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-family: $font-stack;
    font-size: 14px;
    height: 38px;
    padding: 0 12px;

    &:hover {
      background: $colour_orange-button_border;
      border-color: $colour_orange-button_background;
    }
  }
}
