@mixin textfield__input-field {
  border: 1px solid $colour_grey-border;
  border-radius: 4px;
  color: $colour_grey-input_text;
  font-family: $font-stack;
  height: 35px;
  padding: 0 0 0 12px;
  width: 100%;

  &[disabled] {
    background-color: $colour_grey-disabled;
    color: $colour_grey-input_disabled;
  }

  &::placeholder {
    font-style: italic;
  }

  &:focus {
    border-color: $colour_blue-brand;
    box-shadow: 0 0 3px $colour_blue-brand;
    outline: none;
  }

  &.ng-touched.ng-invalid {
    border-color: red;
  }
}

@mixin textfield__helper-text-left($width: 32px) {
  align-items: center;
  background: $colour_grey-disabled;
  border-radius: 3px 0 0 3px;
  border-right: 1px solid $colour_grey-border;
  display: flex;
  font-size: 12px;
  height: 33px;
  justify-content: center;
  left: 1px;
  pointer-events: none;
  position: absolute;
  top: 1px;
  width: $width;

  .lni {
    display: block;
  }
}
