<div class="app-textfield">
  <label class="app-textfield__label" [for]="name" *ngIf="name && label">{{
    label
  }}</label>
  <div class="app-textfield__input">
    <div *ngIf="helperTextLeft" class="app-textfield__helper-text-left">
      {{ helperTextLeft }}
    </div>
    <input
      class="app-textfield__input-field"
      [ngClass]="{
        'app-textfield__input-field--error':
          ngForm.submitted && formControl.errors?.required
      }"
      #focus
      [type]="type"
      [value]="value"
      [disabled]="disabled"
      [attr.id]="name"
      [attr.placeholder]="placeholder"
      [attr.max]="max"
      [max]="max"
      [pattern]="pattern"
      [ngModel]="value"
    />
  </div>
  <p
    *ngIf="ngForm.submitted && formControl.errors?.required"
    class="app-textfield__invalid-feedback"
  >
    This field is required
  </p>
  <p
    *ngIf="ngForm.submitted && formControl.errors?.min"
    class="app-textfield__invalid-feedback"
  >
    The number must be above {{ formControl.errors.min.min }}
  </p>
  <p
    *ngIf="ngForm.submitted && formControl.errors?.max"
    class="app-textfield__invalid-feedback"
  >
    There is not enough balance
  </p>
</div>
