@import "../../../styles/variables";

.app-textfield {
  display: block;
  margin: 0 0 20px;
}

.app-textfield__label {
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 15px;
}

.app-textfield__input {
  position: relative;
}
.app-textfield__input-field {
  border: 1px solid $colour_grey-border;
  border-radius: 4px;
  color: $colour_grey-input_text;
  font-family: $font-stack;
  height: 35px;
  padding: 0 0 0 12px;
  width: 310px;

  &[disabled] {
    background-color: $colour_grey-disabled;
    color: $colour_grey-input_disabled;
  }

  &::placeholder {
    font-style: italic;
  }

  &:focus {
    border-color: $colour_blue-brand;
    box-shadow: 0 0 3px $colour_blue-brand;
    outline: none;
  }

  &.ng-touched.ng-invalid {
    border-color: red;
  }
}

.app-textfield__helper-text-left {
  align-items: center;
  background: $colour_grey-disabled;
  border-radius: 4px 0 0 4px;
  border-right: 1px solid $colour_grey-border;
  display: flex;
  font-size: 12px;
  height: 33px;
  justify-content: center;
  left: 1px;
  pointer-events: none;
  position: absolute;
  top: 1px;
  width: 32px;

  + .app-textfield__input-field {
    padding-left: 45px;
  }
}

.app-textfield__invalid-feedback {
  color: $colour_red;
  font-size: 12px;
  font-weight: 600;
  margin: 10px 0;
}
