@import "src/styles/variables";
@import "src/styles/components/textfield";

.app-textfield {
  display: block;
  margin: 0 0 20px;
}

.app-textfield__label {
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 15px;
}

.app-textfield__input {
  position: relative;
}
.app-textfield__input-field {
  @include textfield__input-field;
  width: 310px;
}

.app-textfield__helper-text-left {
  @include textfield__helper-text-left;

  + .app-textfield__input-field {
    padding-left: 45px;
  }
}

.app-textfield__invalid-feedback {
  color: $colour_red;
  font-size: 12px;
  font-weight: 600;
  margin: 10px 0;
}
