@import "../../../styles/variables";

.container {
  display: flex;
  margin: 0 auto;
  //max-width: 1110px;
  max-width: 1140px;
  width: 100%;
  // 30px between items
  // 66px tall headers

  // 350px item 1
  // 730px item 2
}

.generic-component {
  padding: 0 15px;
  width: 760px;

  &--sidebar {
    width: 380px;
  }

  &__inner {
    background: #fff;
    border-radius: 0 0 8px 8px;
    padding: 20px;
  }

  &__header {
    align-items: center;
    background-color: $colour-blue-brand;
    border-radius: 8px 8px 0 0;
    color: #fff;
    display: flex;
    height: 66px;
    padding-left: 18px;

    h2 {
      font-size: 18px;
      font-weight: 400;
      margin: 0;

      strong {
        font-weight: 600;
      }

      fa-icon {
        margin-right: 10px;
      }
    }
  }

  app-submit-button {
    display: block;
    text-align: right;
    button {
      background: $colour_orange-button_background;
      border: 1px solid $colour_orange-button_border;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      font-family: $font-stack;
      font-size: 14px;
      height: 38px;
      padding: 0 12px;

      &:hover {
        background: $colour_orange-button_border;
        border-color: $colour_orange-button_background;
      }
    }
  }
}

app-transaction-item {
  align-items: center;
  border-bottom: 1px solid $colour_grey-border-light;
  display: flex;
  margin: 0 -20px;
  padding: 15px 20px;
  &:last-of-type {
    border-bottom-width: 0;
  }
  &:hover {
    background: $colour_grey-border-light;
  }

  .merchant-details {
    flex-grow: 1;
  }
}
.app-transaction-item__colour {
  height: 80px;
  width: 6px;
}
.app-transaction-item__date {
  font-size: 14px;
  padding-left: 10px;
  width: 90px;
}
.app-transaction-item__details-merchant {
  color: $colour_grey-text;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 6px;
}
.app-transaction-item__details-type {
  color: $colour_grey-gunmetal;
  font-size: 12px;
  line-height: 12px;
}
.app-transaction-item__amount {
  font-size: 14px;
  &--credit {
    color: $colour_green;
  }
  &--debit {
    color: $colour_red;
  }
}
