<header>
  <app-logo></app-logo>
  <h1>Frontend <strong>Technical Assignment</strong></h1>
</header>
<main>
  <div class="container">
    <aside class="generic-component generic-component--sidebar">
      <header class="generic-component__header">
        <h2>
          <fa-icon [icon]="faWallet"></fa-icon>
          <strong>Make</strong> Transfer
        </h2>
      </header>
      <div class="generic-component__inner">
        <form [formGroup]="makeTransfer" #ngForm="ngForm">
          <app-textfield
            label="From Account"
            value="My Personal Account: € 5824.76"
            [formControl]="transferFrom"
            [ngForm]="ngForm"
            [disabled]="transferFrom.disabled"
            name="transferFrom"
            ngDefaultControl
          ></app-textfield>

          <app-textfield
            label="To Account"
            placeholder="type an account name"
            [formControl]="transferTo"
            [ngForm]="ngForm"
            name="transferTo"
            ngDefaultControl
          ></app-textfield>

          <app-textfield
            label="Amount"
            placeholder="specify the amount"
            [formControl]="transferAmount"
            [ngForm]="ngForm"
            name="transferAmount"
            ngDefaultControl
            helperTextLeft="€"
            [pattern]="currencyRegex"
          ></app-textfield>
          <app-submit-button></app-submit-button>
        </form>
      </div>
    </aside>

    <section class="generic-component">
      <header class="generic-component__header">
        <h2>
          <fa-icon [icon]="faList"></fa-icon>Transactions <strong>List</strong>
        </h2>
      </header>
      <div class="generic-component__inner">
        <app-filter></app-filter>
        <app-transaction-item *ngFor="let transaction of transactions$ | async">
          <div
            class="app-transaction-item__colour"
            data-test-hook="transactionColour"
            [style.background-color]="transaction.categoryCode"
          ></div>
          <div
            class="app-transaction-item__date"
            data-test-hook="transactionDate"
          >
            {{ transaction.dates.valueDate | date: "MMM d" }}
          </div>
          <div
            class="app-transaction-item__details-merchant"
            data-test-hook="transactionMerchantName"
          >
            {{ transaction.merchant.name }}
          </div>
          <div
            class="app-transaction-item__details-type"
            data-test-hook="transactionType"
          >
            {{ transaction.transaction.type }}
          </div>
          <div
            class="app-transaction-item__amount"
            data-test-hook="transactionAmount"
            [ngClass]="{
              'app-transaction-item__amount--credit':
                transaction.transaction.creditDebitIndicator === 'CRDT',
              'app-transaction-item__amount--debit':
                transaction.transaction.creditDebitIndicator === 'DBIT'
            }"
          >
            {{
              transaction.transaction.amountCurrency.amount
                | currency: transaction.transaction.amountCurrency.currencyCode
            }}
          </div>
        </app-transaction-item>
      </div>
    </section>
  </div>
</main>
<app-footer></app-footer>
