<header>
  <app-logo></app-logo>
  <h1>Frontend <strong>Technical Assignment</strong></h1>
</header>
<main>
  <div class="container">
    <aside class="generic-component generic-component--sidebar">
      <header class="generic-component__header">
        <h2><strong>Make</strong> Transfer</h2>
      </header>
      <div class="generic-component__inner">
        <form [formGroup]="makeTransfer" #ngForm="ngForm">
          <app-textfield
            label="From Account"
            value="My Personal Account: € 5824.76"
            [formControl]="transferFrom"
            [ngForm]="ngForm"
            [disabled]="transferFrom.disabled"
            name="transferFrom"
            ngDefaultControl
          ></app-textfield>

          <app-textfield
            label="To Account"
            placeholder="type an account name"
            [formControl]="transferTo"
            [ngForm]="ngForm"
            name="transferTo"
            ngDefaultControl
          ></app-textfield>

          <app-textfield
            label="Amount"
            placeholder="specify the amount"
            [formControl]="transferAmount"
            [ngForm]="ngForm"
            name="transferAmount"
            ngDefaultControl
            helperTextLeft="€"
            [pattern]="currencyRegex"
          ></app-textfield>
          <app-submit-button></app-submit-button>
        </form>
      </div>
    </aside>

    <section class="generic-component">
      <header class="generic-component__header">
        <h2>Transactions <strong>List</strong></h2>
      </header>
      <div class="generic-component__inner">
        <app-filter></app-filter>
        <app-transaction-item></app-transaction-item>
      </div>
    </section>
  </div>
</main>
<app-footer></app-footer>
