<header>
  <app-logo></app-logo>
</header>
<main>
  <div class="container">
    <aside class="generic-component generic-component--sidebar">
      <header class="generic-component__header">
        <h2><strong>Make</strong> Transfer</h2>
      </header>
      <div class="generic-component__inner">
        <form>
          <h3>From Account</h3>
          <input [disabled]="true" value="My Personal Account: $55824.76" />

          <h3>To Account</h3>
          <input placeholder="type an account name" />

          <h3>Amount</h3>
          <input placeholder="specify the amount" />
          <app-submit-button></app-submit-button>
        </form>
      </div>
    </aside>

    <section class="generic-component">
      <header class="generic-component__header">
        <h2>Transactions <strong>List</strong></h2>
      </header>
      <div class="generic-component__inner">
        <app-filter></app-filter>
        <app-transaction-item></app-transaction-item>
      </div>
    </section>
  </div>
</main>
<app-footer></app-footer>
