@import "src/styles/reset";
@import "src/styles/variables";
@import "src/styles/icon-font/lineicons";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body {
  margin: 0;
}
app-root {
  display: flex;
  flex-direction: column;
  font-family: $font-stack;
  height: 100vh;

  app-logo {
    flex-grow: 1;
  }
  > header {
    border-bottom: 1px solid $colour_grey-border;
    display: flex;
    padding: 24px;

    h1 {
      color: $colour_blue-brand;
      font-size: 18px;
      font-weight: 400;
      line-height: 34px;
      margin: 0;
      strong {
        font-weight: 600;
      }
    }
  }
}
main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin: 0;
  min-height: 100px;
  padding: 60px 0;
  position: relative;

  &::before {
    background-image: url(/assets/background.jpg);
    background-size: cover;
    background-position: center;
    content: " ";
    filter: blur(4px);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

app-modal.hidden {
  display: none;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
  width: 100%;

  // 30px between items
  // 66px tall headers
}

@import "src/styles/components/app-filter";
@import "src/styles/components/app-submit-button";
@import "src/styles/components/app-transaction-item";
@import "pages/overview/overview.component";
